{% extends "base.html.twig" %}


{% block titre %} {{livre.nom}} {% endblock %}


{% block contenu %} 

    {% if isModification %}

        <form id="ajoutForm" method="POST" action="/livres/modificationServer">

            <div class="row m-2">
                <div class="col-6">
                    <h2>Informations : </h2>
                    <div class="form-group">
                        <label for="titre">Titre</label>
                        <input type="text" class="form-control" id="titre" name="titre" value="{{livre.nom}}">
                    </div>
                    <div class="form-group">
                        <label for="auteur">Auteur</label>
                        <select id="auteur" name="auteur" class="form-control">
                            {% for auteur in auteurs %}
                            <option value="{{auteur._id}}"
                                {% if auteur.id == livre.auteur._id %}
                                selected
                                {% endif %}
                            >
                            {{auteur.prenom}} {{auteur.nom}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pages">Pages</label>
                        <input type="number" class="form-control" id="pages" name="pages" value="{{livre.pages}}">
                    </div>

                </div>
        
                <div class="col-6">
                    <h2>Résumé : </h2>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea rows="3" class="form-control" id="description" name="description">{{livre.description}}</textarea>
                    </div>
                    
                </div>
            </div>
            <input type="hidden" name="identifiant" value="{{livre._id}}">
            <input type="submit" class="btn btn-primary w-100 m-2" value="Valider">

         </form>

         <form action="/livres/updateImage" method="POST" enctype="multipart/form-data">

            <div class="row m-2">
                <h2>Image :</h2>
               <img src="/images/{{livre.image}}" class="col-3" style="max-width: 400px; height: auto; max-height: 700px" >

               <div class="col-9">
                    <div class="form-group">
                        <label for="image">Image : </label>
                        <input type="file" class="form-control-file mt-2" id="image" name="image">
                    </div>
                    <input type="hidden" name="identifiant" value="{{livre._id}}">
                    <input type="submit" class="btn btn-primary mt-2" value="Modifier l'image">
               </div>
            </div>
            
            
         </form>
         
    {% else %}


        <div class="row m-2">
            <div class="col-6">
                    <h2>Informations : </h2>
                    <div> Auteur : <a href="/auteurs/{{livre.auteur._id}}">{{livre.auteur.prenom}} {{livre.auteur.nom}}</a></div>
                    <div>Nombre de pages : {{livre.pages}}</div>
                    <img src="/images/{{livre.image}}" style="max-width: 400px; height: auto; max-height: 700px" >
            </div>


            <div class="col-6">
                    <h2>Résumé : </h2>
                    <p>{{livre.description}}</p>
            </div>
        </div>

    {% endif %}

{% endblock %}